@model OpenSooq.Models.Shop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Shop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopImage)
        </dt>
        <dd class="col-sm-10">
            <img style="border-radius:20%;" width="150" height="150" src=@Url.Content("~/newImg/" + Model.ShopImage)>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShopCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShopCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
